//html, body
//  background-color #878988 !important
//.navbar
//  background-color #878988 !important
//.navbar > .links
//  background-color #878988 !important

body
  opacity 1
  animation-name fadeInOpacity
  animation-iteration-count 1
  animation-timing-function ease-in
  animation-duration 0.5s

@keyframes fadeInOpacity
  0%
    opacity 0
  100%
    opacity 1

//@media (min-width: $MQNarrow) {
//  .sidebar {
//    transition: max-width 0.5s, box-shadow 0.5s;
//    max-width: $sidebarWidth;
//    min-width: $sidebarWidth;
//    width: auto !important;
//  }
//
//
//  .sidebar-link {
//    display: block !important;
//    overflow: hidden;
//    text-overflow: ellipsis;
//  }
//
//  .sidebar {
//    white-space: nowrap;
//  }
//
//  .sidebar:hover {
//    max-width: 50vw;
//    box-shadow: 1px 0px 10px 5px #eaecef;
//  }
//}
