/* // TODO: add some animations / transitions...
body
  opacity 1
  animation-name fadeInOpacity
  animation-iteration-count 1
  animation-timing-function ease-in
  animation-duration 0.25s

@keyframes fadeInOpacity
  0%
    opacity 0
  100%
    opacity 1
*/

/* // TODO: whid width for blogs, but brakes other theme css, so disabling for now...
.home, .content
  min-width 90%
*/

my-blog-min-width = 80%

.theme-default-content
  min-width my-blog-min-width

.description
  min-width my-blog-min-width

body, html
  opacity 1
  animation-name fadeInOpacity
  animation-iteration-count 1
  animation-timing-function ease-in
  animation-duration 0.25s

.hero img
  border-radius 50%

.footer
  padding-left 0
  padding-right 0
  text-align center

@keyframes fadeInOpacity
  0%
    opacity 0
  100%
    opacity 1

// Tablets, Ipads (landscape) Screen = B/w 768px to 1024px
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
  body, hmtl
    zoom 102%
// Tablets, Ipads (portrait) Screen = B/w 768px to 1024px
@media screen and (min-width: 768px) and (max-width: 1024px)
  body, hmtl
    zoom 102%
// iPad in landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
  body, hmtl
    zoom 102%
@media screen and (min-width: 767px) and (max-width: 1280px)
  body, hmtl
    zoom 102%
// Laptops, Desktops Screen = B/w 1025px to 1280px
@media screen and (min-width: 1025px) and (max-width: 1280px)
  body, hmtl
    zoom 102%
// Desktops Screen = 1281px to higher resolution desktops
@media screen and (min-width: 1280px)
  body, hmtl
    zoom 102%
@media screen and (min-width: 1280px)
  body, hmtl
    zoom 105%

// fix small devices footer
@media (max-width: 419px)
  .home
    padding-left 0
    padding-right 0
