/* // Fuck this shit...
@media screen and (max-width: 320px)
  body, hmtl
    zoom 100%

// Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px
@media screen and (min-width: 320px), screen and (max-width: 479px)
  body, hmtl
    zoom 100%

// Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px
@media screen and (min-width: 481px), screen and (max-width: 767px)
  body, hmtl
    zoom 100%

// Tablets, Ipads (landscape) Screen = B/w 768px to 1024px
@media screen and (min-width: 768px), screen and (max-width: 1024px), screen and (orientation: landscape)
  body, hmtl
    zoom 125%

// Tablets, Ipads (portrait) Screen = B/w 768px to 1024px
@media screen and (min-width: 768px), screen and (max-width: 1024px)
  body, hmtl
    zoom 125%

// Laptops, Desktops Screen = B/w 1025px to 1280px
@media screen and (min-width: 1025px), screen and (max-width: 1280px)
  body, hmtl
    zoom 125%

// Desktops Screen = 1281px to higher resolution desktops
@media screen and (min-width: 1281px)
  body, hmtl
    zoom 150%
*/

@media screen and (max-width: 481px)
  body, hmtl
    zoom 100%
@media screen and (min-width: 481px), scrren and (max-width: 1281px)
  body, hmtl
    zoom 125%
@media screen and (min-width: 1281px)
  body, hmtl
    zoom 150%

/* // TODO: add some animations / transitions...
body
  opacity 1
  animation-name fadeInOpacity
  animation-iteration-count 1
  animation-timing-function ease-in
  animation-duration 0.5s

@keyframes fadeInOpacity
  0%
    opacity 0
  100%
    opacity 1
*/

/* // TODO: whid width for blogs, but brakes other theme css, so disabling for now...
.home, .content
  min-width 90%
*/
